.face
{
 color: rgb(0, 102, 255);
}
body
{
    background-color: rgba(223, 221, 220, 0.646);
}
input
{   padding: 5px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(219, 217, 217, 0.781);
}
